<div>

    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
            <h1 class="jumbotron-heading"><strong>About Us</strong></h1>
            <p class="lead text-muted">Learn more about one of the leading courier services in India.</p>
            </div>
        </section>

        <div class="album py-5 bg-light" >
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="assets/images/img1.png" alt="Card image cap">
                            <div class="card-body">
                                <h2 style="text-align: center;"><strong>Our Vission</strong></h2>
                                <p class="lead text-muted">We work with a vision of offering our best courier services to our potential clients. We always try to diminish the level of anxiety among the clients.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="assets/images/img2.png" alt="Card image cap">
                            <div class="card-body">
                                <h2 style="text-align: center;"><strong>Our Mission</strong></h2>
                                <p class="lead text-muted">We are committed to providing first-class courier services to our customers 24/7.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="assets/images/img3.png" alt="Card image cap">
                            <div class="card-body">
                                <h2 style="text-align: center;"><strong>Our Promise</strong></h2>
                                <p class="lead text-muted">The services that we offer are always on time, and on most of the occasions, we try delivering them before the deadline.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
            <h2 class="jumbotron-heading"><strong>What Our Clients Say</strong></h2>
            <p class="lead text-muted">A few reviwes by our customers</p>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                   <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h1 style="color: rgb(255, 94, 0);">"</h1>
                            <h3><strong>Bravo V2V-Couriers!</strong></h3>
                            <p class="lead text-muted"><em>I wish to thank team V2V-Couriers for delivering my parcel on time. Well done!</em></p>
                            <br>Debapriya, Kerala
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h1 style="color: rgb(255, 94, 0);">"</h1>
                            <h3><strong>Dexterous Work!</strong></h3>
                            <p class="lead text-muted"><em>I remember some time back when I was looking for the best courier service, and I found V2V-Couriers.</em></p>
                            <br>Vishal, Punjab
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <div class="card-body">
                                <h1 style="color: rgb(255, 94, 0);">"</h1>
                                <h3><strong>A+ Rating</strong></h3>
                                <p class="lead text-muted"><em>A+ rating to the responsible team and a big thank you for the timely delivery.</em></p>
                                <br>Iishita, Assam
                                <div class="d-flex justify-content-between align-items-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <div class="album py-5">
        <div class="card text-center border-info card-accent-info">
            <div class="card-header">
                <h2><strong>Contact Us</strong></h2>
            </div>
            <div class="card-body">
                
                    <form>
                        <div class="form-group col-md-6">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="First Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="messageArea">Message</label>
                            <textarea class="form-control" id="messageArea" rows="5"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
   
            </div>
          </div>
    </div>

    <footer class="text-muted">
      <div class="container">
          <p>Copyright © 2020 |  V2V-Couriers </p>
      </div>
    </footer>

</div>