<!-- <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Track Us</title>

  </head>

  <body id="track-body"> -->
<div>
        <div id="cover-track">
        <div id="cover-track-caption">
            <div class="container">
                <div class="col-sm-10 col-sm-offset-1">
                    <h1 class="display-3">Welcome to V2V Couriers</h1>
            
                            <p>
                            V2V couriers provides you with various ways to ship your packages.</p>
                            <p>
                            We have always believed in providing our customers with the fastest delivery.</p>
                            <p>
                            Tracking your package is just a click away.</p>
                            <p>
                            You can track your package 24x7.</p>
                            <p>
                            Shipments can be tracked by entering your 8-digit Tracking ID below along with your
                            mobile number.</p>
                            <div class="album ply-5">
                                    <form class="form-inline"> 
                                            <div class=" radio form-group col-md-6">
                                                <label>
                                                <input type="radio" name="track-option"  (click)="setradio('Tracking-id')" class="form-control form-control-sm" value="Tracking-id" [checked]='true' ngModel>
                                                Tracking ID
                                                </label>
                                            </div>
                                            <div class=" radio form-group col-md-6">
                                                <label>
                                                <input type="radio" name="track-option"  (click)="setradio('Mobile')" class="form-control form-control-sm" value="Mobile" ngModel>
                                                Mobile Number
                                                </label>
                                            </div>
                                            <div class="form-group col-md-6" *ngIf="isSelected('Tracking-id')">
                                                <label for="trackId" class="sr-only">Tracking Id</label>
                                                <input type="text" disabled class="form-control form-control-lg" value="Enter your tracking-id" placeholder="T12345678" id="trackId">
                                            </div>
                                            <div class="form-group col-md-6" *ngIf="isSelected('Mobile')">
                                                <label for="mobileNumber" class="sr-only">Mobile Number</label>
                                                <input type="tel" class="form-control form-control-lg" placeholder="(+91)XXXXXXXXXX" id="mobileNumber">
                                            </div>
                                            <div>
                                            <button type="submit" class="btn btn-success  btn-lg">TRACK</button>
                                        </div>
                                    </form>
                            </div>
                </div>
            </div>
         </div>
         </div>
         </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
  </body>
</html> -->
